{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Dead's blog{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
</head>
<body>
<div id="container" class="container-fluid">

    {% include "partials/header.html" %}

    <div class="row">
        <div class="col-md-12">
            <div class="row">

                <div class="col-md-9"> <!--Left side-->

                    {% if breadcrumbs %}
                        {% include "partials/breadcrumbs.html" %}
                    {% endif %}

                    <div class="col-md-12">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>

                <div class="col-md-3"> <!--Right side-->

                    <!-- StackOverflow flair
                    <a href="http://stackoverflow.com/users/2833644/dead">
                        <img src="http://stackoverflow.com/users/flair/2833644.png" width="208" height="58" alt="profile for Dead at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Dead at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
                    </a>!-->

                    {% include "partials/latest_posts.html" %}

                    {% include "partials/tag_cloud.html" %}

                </div>
            </div>
        </div>
    </div>

    {% include "partials/footer.html" %}

</div>

<script src="{% static "js/jquery-1.11.0.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/jquery.tagcanvas.min.js" %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        if( ! $('#myCanvas').tagcanvas({
            textColour : '#ffffff',
            reverse: true,
            outlineThickness : 1,
            maxSpeed : 0.03,
            depth : 0.75
        })) {
            // TagCanvas failed to load
            $('#myCanvasContainer').hide();
        }
        // your other jQuery stuff here...
    });
</script>
</body>
</html>