{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>Dead's blog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
  <link href="{% static "css/blog.css" %}" rel="stylesheet">
</head>
<body>
<div id="container" class="container-fluid">
  <div class="row">
    <div id="headerImage" class="col-md-12">
      <div class="row hidden-xs">
        <div class="col-md-3"></div>
        <div  class="col-md-9">
          <h1 class="text-center">Dead's blog</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 hidden-sm hidden-xs"></div>
        <div class="col-md-9">
          <div class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand visible-xs" href="#">Dead's blog</a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                  <li class="active"><a href="#">Home</a></li>

                  <li><a href="#">Portfolio</a></li>
                  <li><a href="#">About me</a></li>
                  <li><a href="#">Contact me</a></li>

                  <!--<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Home</a></li>
                      <li><a href="#">About</a></li>
                      <li><a href="#">Portfolio</a></li>
                      <li><a href="#">Portfolio</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                      <li class="divider"></li>
                      <li><a href="#">One more separated link</a></li>
                    </ul>
                  </li>-->
                </ul>
                <form class="navbar-form navbar-right">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                </form><!--search-->

              </div><!-- /.navbar-collapse -->
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">

        <div class="col-md-9">

          <div class="row breadcrumbs" style="margin-right: 0"> <!--Breadcrumbs-->
            <div class="col-md-12">
              <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Library</a></li>
                <li class="active">Data</li>
              </ol>
            </div>
          </div> <!--Breadcrumbs-->

          <!--Content-->

          <div class="row post_preview"> <!--Blog post-->
            <a href="#"><img class="thumbnail col-sm-2" src="{% static "img/pika_pika.jpg" %}" alt="..."></a>
            <div class="col-sm-10">
              <p class="pull-right">12 january 2014</p>
              <h2 class="post_header"><a href="">Post title</a></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <p class="pull-left"><a href="#">Read more...</a></p>
              <p class="pull-right"><a href="#">0 comments</a></p>
            </div>
          </div><!--Blog post-->
          <div class="row post_preview"> <!--Blog post-->
            <a href="#"><img class="thumbnail col-sm-2" src="{% static "img/pika_pika.jpg" %}" alt="..."></a>
            <div class="col-sm-10">
              <p class="pull-right">12 january 2014</p>
              <h2 class="post_header"><a href="">Post title</a></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <p class="pull-left"><a href="#">Read more...</a></p>
              <p class="pull-right"><a href="#">0 comments</a></p>
            </div>
          </div><!--Blog post-->
          <div class="row post_preview"> <!--Blog post-->
            <a href="#"><img class="thumbnail col-sm-2" src="{% static "img/pika_pika.jpg" %}" alt="..."></a>
            <div class="col-sm-10">
              <p class="pull-right">12 january 2014</p>
              <h2 class="post_header"><a href="">Post title</a></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <p class="pull-left"><a href="#">Read more...</a></p>
              <p class="pull-right"><a href="#">0 comments</a></p>
            </div>
          </div><!--Blog post-->
          <div class="row post_preview"> <!--Blog post-->
            <a href="#"><img class="thumbnail col-sm-2" src="{% static "img/pika_pika.jpg" %}" alt="..."></a>
            <div class="col-sm-10">
              <p class="pull-right">12 january 2014</p>
              <h2 class="post_header"><a href="">Post title</a></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <p class="pull-left"><a href="#">Read more...</a></p>
              <p class="pull-right"><a href="#">0 comments</a></p>
            </div>
          </div><!--Blog post-->


          <!--Content-->

          <div class="row more_posts">
            <div class="col-sm-8 col-sm-offset-2">
              <button type="button" class="btn btn-default btn-lg btn-block">View more posts</button>
            </div>
            <div class="col-sm-2"></div>
          </div>

        </div>

        <div class="col-md-3"> <!--Right size-->

          <!--Latest block-->
          <div class="row">
            <div class="col-md-12"><h4>Latest:</h4></div>
          </div>

          <div class="row">
            <a href="">
              <img class="thumbnail col-sm-2 hidden-xs" src="{% static "img/pika_pika.jpg" %}" alt="...">
              <div class="col-sm-10 col-xs-12"><p> Lorem ipsum asd asda sda sds dasd asd assdas asd asda sda sds dasd asd assdas asd asda sda sds dasd asd assdas asd asda sda sds dasd asd </p></div>
            </a>
          </div> <!--One latest article-->
          <div class="row">
            <a href="">
              <img class="thumbnail col-sm-2 hidden-xs" src="{% static "img/pika_pika.jpg" %}" alt="...">
              <div class="col-sm-10 col-xs-12"><p> Lorem ipsum asd asda sda sds dasd asd assdas asd asda sda sds dasd asd assdas asd asda sda sds dasd asd assdas asd asda sda sds dasd asd </p></div>
            </a>
          </div> <!--One latest article-->
          <div class="row">
            <a href="">
              <img class="thumbnail col-sm-2 hidden-xs" src="{% static "img/pika_pika.jpg" %}" alt="...">
              <div class="col-sm-10 col-xs-12"><p> Lorem ipsum asd asda sda sds dasd asd assdas asd asda sda sds dasd asd assdas asd asda sda sds dasd asd assdas asd asda sda sds dasd asd </p></div>
            </a>
          </div> <!--One latest article-->
          <div class="row">
            <a href="">
              <img class="thumbnail col-sm-2 hidden-xs" src="{% static "img/pika_pika.jpg" %}" alt="...">
              <div class="col-sm-10 col-xs-12"><p> Lorem ipsum asd asda sda sds dasd asd assdas asd asda sda sds dasd asd assdas asd asda sda sds dasd asd assdas asd asda sda sds dasd asd </p></div>
            </a>
          </div> <!--One latest article-->
          <div class="row">
            <a href="">
              <img class="thumbnail col-sm-2 hidden-xs" src="{% static "img/pika_pika.jpg" %}" alt="...">
              <div class="col-sm-10 col-xs-12"><p> Lorem ipsum asd asda sda sds dasd asd assdas asd asda sda sds dasd asd assdas asd asda sda sds dasd asd assdas asd asda sda sds dasd asd </p></div>
            </a>
          </div> <!--One latest article-->
          <div class="row">
            <div class="col-md-12">
              <p><a href="#">View all post's ></a></p>
            </div>
          </div>
          <!--Latest block-->

          <div class="row"> <!--Tag cloud-->
            <div id="myCanvasContainer">
              <canvas class="col-md-12" id="myCanvas">
                <p>Anything in here will be replaced on browsers that support the canvas element</p>
                <ul>
                  <li><a href="http://www.google.com" target="_blank">Google</a></li>
                  <li><a href="/">Fish</a></li>
                  <li><a href="/">Chips</a></li>
                  <li><a href="/">Salt</a></li>
                  <li><a href="/">Vinegar</a></li>
                  <li><a href="/">Fish</a></li>
                  <li><a href="/">Chips</a></li>
                  <li><a href="/">Salt</a></li>
                  <li><a href="/">Vinegar</a></li>
                  <li><a href="/">Fish</a></li>
                  <li><a href="/">Chips</a></li>
                  <li><a href="/">Salt</a></li>
                  <li><a href="/">Vinegar</a></li>
                </ul>
              </canvas>
            </div>
          </div> <!--Tag cloud-->

          <div class="row">
          </div>


        </div> <!--Right size-->
      </div>
    </div>
  </div>

  <hr> <!--Footer-->
  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-2">
        <p class="pull-left">Created by Dead. 2014</p>
      </div>
      <div class="col-md-8">

        <p class="text-center">
          <a href="#">Home</a> |
          <a href="#">Portfolio</a> |
          <a href="#">About me</a> |
          <a href="#">Contact me</a>
        </p>
      </div>
      <div class="col-md-2">
        <a class="pull-right" href="#">
          To the top
        </a>
      </div>
    </div>
  </div> <!--Footer-->

</div>


<script src="{% static "js/jquery-1.11.0.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/jquery.tagcanvas.min.js" %}"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        if( ! $('#myCanvas').tagcanvas({
          textColour : '#ffffff',
          reverse: true,
          outlineThickness : 1,
          maxSpeed : 0.03,
          depth : 0.75
        })) {
          // TagCanvas failed to load
          $('#myCanvasContainer').hide();
        }
        // your other jQuery stuff here...
      });
    </script>
</body>
</html>