<!DOCTYPE html>
<html>
<head>
  <title>Dead's blog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/bootstrap.css" rel="stylesheet">
</head>
<body style="margin-top: 40px;">
<div class="container">

  <div class="row">
    <div class="col-lg-12">
        <div class="jumbotron">
          <div class="row">
            <img src="img/yoda.jpg" class="img-rounded col-lg-3 col-md-4 img-responsive" alt="Master Yoda">
            <div class="col-lg-9 col-md-8">
              <h1 class="text-center" style="font-size: 53px;">Under construction, this blog is</h1>
              <p>This site is ready yet not, move along, you should. </p>
              <p>Trust the force, clear your mind, unlearn what you have learned, and find this blog finished someday you will. Remember, a Jedi's strength flows from the Force. But beware. Anger, fear, aggression. The dark side are they. Once you start down the dark path, forever will it dominate your destiny.</p>
            </div>
          </div>
        </div>
    </div><!-- col-lg-12 -->
  </div><!-- row -->

</div><!-- container -->

<script src="js/jquery-1.11.0.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
