{% load staticfiles %}
<div class="row breadcrumbs" style="margin-right: 0"> <!--Breadcrumbs-->
    <div class="col-md-12">
        <ol class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                {% if breadcrumb.active %}
                     <li class="active">{{ breadcrumb.title }}</li>
                {% else %}
                    <li>
                        <a href="{{ breadcrumb.link }}">{{ breadcrumb.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ol>
    </div>
</div> <!--Breadcrumbs-->
