{% load staticfiles %}
<div class="row post_preview"> <!--Blog post-->
    <a href="#"><img class="thumbnail col-sm-2" src="{% static "img/pika_pika.jpg" %}" alt="..."></a>
    <div class="col-sm-10">
        <p class="pull-right">12 january 2014</p>
        <h2 class="post_header"><a href="">Post title</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p class="pull-left"><a href="#">Read more...</a></p>
        <p class="pull-right"><a href="#">0 comments</a></p>
    </div>
</div><!--Blog post-->
<div class="row post_preview"> <!--Blog post-->
    <a href="#"><img class="thumbnail col-sm-2" src="{% static "img/pika_pika.jpg" %}" alt="..."></a>
    <div class="col-sm-10">
        <p class="pull-right">12 january 2014</p>
        <h2 class="post_header"><a href="">Post title</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p class="pull-left"><a href="#">Read more...</a></p>
        <p class="pull-right"><a href="#">0 comments</a></p>
    </div>
</div><!--Blog post-->
<div class="row post_preview"> <!--Blog post-->
    <a href="#"><img class="thumbnail col-sm-2" src="{% static "img/pika_pika.jpg" %}" alt="..."></a>
    <div class="col-sm-10">
        <p class="pull-right">12 january 2014</p>
        <h2 class="post_header"><a href="">Post title</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p class="pull-left"><a href="#">Read more...</a></p>
        <p class="pull-right"><a href="#">0 comments</a></p>
    </div>
</div><!--Blog post-->
<div class="row post_preview"> <!--Blog post-->
    <a href="#"><img class="thumbnail col-sm-2" src="{% static "img/pika_pika.jpg" %}" alt="..."></a>
    <div class="col-sm-10">
        <p class="pull-right">12 january 2014</p>
        <h2 class="post_header"><a href="">Post title</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p class="pull-left"><a href="#">Read more...</a></p>
        <p class="pull-right"><a href="#">0 comments</a></p>
    </div>
</div><!--Blog post-->

<div class="row more_posts"> <!-- More posts button !-->
    <div class="col-sm-8 col-sm-offset-2">
        <button type="button" class="btn btn-default btn-lg btn-block">View more posts</button>
    </div>
    <div class="col-sm-2"></div>
</div>
