<div class="row">
    <div id="headerImage" class="col-md-12">
        <div class="row hidden-xs">
            <div class="col-md-3"></div>
            <div  class="col-md-9">
                <h1 class="text-center">Dead's blog</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 hidden-sm hidden-xs"></div>
            <div class="col-md-9">
                <div class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand visible-xs" href="#">Dead's blog</a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">

                                <li class="active"><a href="#">Home</a></li>

                                <li><a href="#">Portfolio</a></li>
                                <li><a href="#">About me</a></li>
                                <li><a href="#">Contact me</a></li>

                            </ul>
                            <form class="navbar-form navbar-right">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                                <button type="submit" class="btn btn-default">Submit</button>
                            </form><!--search-->

                        </div><!-- /.navbar-collapse -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>