{% load staticfiles %}
<!--Latest block-->
<div class="row">
    <div class="col-md-12"><h4>Latest:</h4></div>
</div>

<div class="row">
    <a href="">
        <img class="thumbnail col-sm-2 hidden-xs" src="{% static "img/pika_pika.jpg" %}" alt="...">
        <div class="col-sm-10 col-xs-12"><p> Lorem ipsum asd asda sda sds dasd asd assdas asd asda sda sds dasd asd assdas asd asda sda sds dasd asd assdas asd asda sda sds dasd asd </p></div>
    </a>
</div> <!--One latest article-->
<div class="row">
    <a href="">
        <img class="thumbnail col-sm-2 hidden-xs" src="{% static "img/pika_pika.jpg" %}" alt="...">
        <div class="col-sm-10 col-xs-12"><p> Lorem ipsum asd asda sda sds dasd asd assdas asd asda sda sds dasd asd assdas asd asda sda sds dasd asd assdas asd asda sda sds dasd asd </p></div>
    </a>
</div> <!--One latest article-->
<div class="row">
    <a href="">
        <img class="thumbnail col-sm-2 hidden-xs" src="{% static "img/pika_pika.jpg" %}" alt="...">
        <div class="col-sm-10 col-xs-12"><p> Lorem ipsum asd asda sda sds dasd asd assdas asd asda sda sds dasd asd assdas asd asda sda sds dasd asd assdas asd asda sda sds dasd asd </p></div>
    </a>
</div> <!--One latest article-->
<div class="row">
    <a href="">
        <img class="thumbnail col-sm-2 hidden-xs" src="{% static "img/pika_pika.jpg" %}" alt="...">
        <div class="col-sm-10 col-xs-12"><p> Lorem ipsum asd asda sda sds dasd asd assdas asd asda sda sds dasd asd assdas asd asda sda sds dasd asd assdas asd asda sda sds dasd asd </p></div>
    </a>
</div> <!--One latest article-->
<div class="row">
    <a href="">
        <img class="thumbnail col-sm-2 hidden-xs" src="{% static "img/pika_pika.jpg" %}" alt="...">
        <div class="col-sm-10 col-xs-12"><p> Lorem ipsum asd asda sda sds dasd asd assdas asd asda sda sds dasd asd assdas asd asda sda sds dasd asd assdas asd asda sda sds dasd asd </p></div>
    </a>
</div> <!--One latest article-->
<div class="row">
    <div class="col-md-12">
        <p><a href="#">View all post's ></a></p>
    </div>
</div>
<!--Latest block-->