{% load staticfiles %}
<div class="row"> <!--Tag cloud-->
    <div id="myCanvasContainer">
        <canvas class="col-md-12" id="myCanvas">
            <p>Anything in here will be replaced on browsers that support the canvas element</p>
            <ul>
                <li><a href="http://www.google.com" target="_blank">Google</a></li>
                <li><a href="/" target="_blank">Fish</a></li>
                <li><a href="/" target="_blank">Chips</a></li>
                <li><a href="/" target="_blank">Salt</a></li>
                <li><a href="/" target="_blank">Vinegar</a></li>
                <li><a href="/" target="_blank">Fish</a></li>
                <li><a href="/" target="_blank">Chips</a></li>
                <li><a href="/" target="_blank">Salt</a></li>
                <li><a href="/" target="_blank">Vinegar</a></li>
                <li><a href="/" target="_blank">Fish</a></li>
                <li><a href="/" target="_blank">Chips</a></li>
                <li><a href="/" target="_blank">Salt</a></li>
                <li><a href="/" target="_blank">Vinegar</a></li>
            </ul>
        </canvas>
    </div>
</div> <!--Tag cloud-->